<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>logfireht - countries</title>
<link rel="stylesheet" href="/static/css/base.css" />
<script src="/static/js/jquery-1.7.min.js"></script>
<script src="/static/js/jquery.scrollTo-min.js"></script>
<script src="/static/js/countries.js"></script>
<script src="/static/js/logfireht.js"></script>
</head>
<body>

<div id="hdr">
    <h1>Countries</h1>
    <button onclick="document.location.href='/'">Back to Live Monitoring</button>
</div>

<div id="main">

#if flash_message:
<div id="flash-message" class="{{ flash_message.type|e }}">
    {{ flash_message.message|e }}
</div>
#endif


<div id="countries">
    <table>
    <thead>
    <tr>
    <th>#</th><th>Flag</th><th>Name</th><th>IPs</th><th>Req</th><th>R/s</th><th>%</th>
    </tr>
    </thead>
    <tbody>
    # for country_code, count in most_common_countries:
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td align="right">{{ loop.index }}</td>
            <td class="flag" title="{{ country_code }}"></td>
            <td class="country-name">{{ country_code }}</td>
            <td class="count">{{ ips_by_country[country_code] }}</td>
            <td class="count">{{ count }}</td>
            <td class="count">{{ '%.2f'|format(count / tail_span) }}</td>
            <td class="count">{{ '%.2f'|format(count*100/tail_size) }}</td>
        </tr>
    # endfor
    </tbody>
    </table>
</div>

<script>
insertFlags();

$('td.country-name').each(function() {
    $(this).text(COUNTRY_NAMES[$(this).text()]);
});
</script>

</body>
</html>
