<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>logfireht</title>
<link rel="stylesheet" href="/static/css/base.css" />
<script src="/static/js/jquery-1.7.min.js"></script>
<script src="/static/js/jquery.scrollTo-min.js"></script>
<script src="/static/js/countries.js"></script>
<script src="/static/js/logfireht.js"></script>
</head>
<body>

<script>
function toggleUpdating() {
    var b = $('#btn-toggle-updating');
    if (b.hasClass('stopped')) {
        startUpdating();
    } else {
        stopUpdating();
    }
    return false;
}
function stopUpdating() {
    var b = $('#btn-toggle-updating');
    b.addClass('stopped');
    b.text('START UPDATING');
}
function startUpdating() {
    var b = $('#btn-toggle-updating');
    b.removeClass('stopped');
    b.text('STOP UPDATING');
    $('#log-entries').hide();
    document.location.hash = '';
}

</script>
<div id="hdr">
    <div id="tail-stats">
        <span id="tail-start"></span> - <span id="tail-end"></span>: <span id="tail-size"></span> requests in <span id="tail-span"></span> min, <span id="req-per-sec"></span> R/s
    </div>
    <button id="btn-toggle-updating" onclick="toggleUpdating()">Stop Updating</button>
    <button onclick="document.location.href='/blacklists'">Manage Blacklists..</button>
</div>

<div id="main">

<div id="most-common-ips">
    <table>
    <thead>
    <tr>
    <th style="font-size:9px" title="Country Code">CC</th><th>IP</th><th>Req</th><th>R/s</th><th>%</th><th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="most-common-vhosts">
    <table>
    <thead>
    <tr>
    <th style="font-size:9px">TLD</th><th>VHost</th><th>Req</th><th>R/s</th><th>%</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="most-common-status-codes">
    <table>
    <thead>
    <tr>
    <th>Status</th><th>Req</th><th>R/s</th><th>%</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="most-common-durations">
    <table>
    <thead>
    <tr>
    <th>Duration [ms]</th><th>Req</th><th>R/s</th><th>%</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="most-common-urls">
    <table>
    <thead>
    <tr>
    <th style="font-size:9px">TLD</th><th>URL</th><th>Req</th><th>R/s</th><th>%</th><th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="most-common-user-agents">
    <table>
    <thead>
    <tr>
    <th>User Agent</th><th>Req</th><th>R/s</th><th>%</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="log-entries">
    <h2>Last 100 log entries for <span id="log-entries-filter-field"></span> <span id="log-entries-filter-value"></span></h2>
    <table>
    <thead>
    <tr>
    <th>Time</th>
    <th>Log</th>
    <th>VHost</th>
    <th colspan="2">IP</th>
    <th>Duration</th>
    <th>Method</th>
    <th>Path</th>
    <th>Status</th>
    <th>Referrer</th>
    <th>User Agent</th>
    <th>Bytes</th>
    <th>Session ID</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

</div>

<script>
var FILE_NAMES = {{ file_names|json }};
var INTERNAL_IPS = {{ internal_ips|json }};
var INTERNAL_URLS = {{ internal_urls|json }};
var INTERNAL_USER_AGENTS = {{ internal_user_agents|json }};
var IP_BLACKLIST = prepareBlacklist({{ ip_blacklist|json }});
var IP_WHITELIST = prepareBlacklist({{ ip_whitelist|json }});

var getClass = function(cls, i) {
    if (i % 2 == 0) {
        cls.push('odd');
    }
    return ' class="' + cls.join(' ') + '"';
};

var getLink = function(ts, p, v, d, t) {
    if (typeof d == 'undefined' || d == null) {
        d = v;
    }
    if (typeof t == 'undefined') {
        t = 80;
    }
    return '<a href="#ts=' + ts + ',' + p + '=' + $.esc(v) + '">' + truncate(d, t) + '</a>';
};

function parseDate(s) {
   return Date.parse(s.replace(' ', 'T'));
}

function blacklistIp(ip, country) {
    stopUpdating();
    var cu = country.toUpperCase();
    var countryName = COUNTRY_NAMES[cu];
    if (typeof countryName == 'undefined') {
        countryName = 'Unknown';
    }
    var comment = prompt('Please enter a comment for blacklisting the following IP:\n' + ip + ' from ' + countryName + ' (' + country + ')');
    if (!comment) {
        alert('No comment entered, not blacklisting!');
        return;
    }
    var frm = $('#frm-blacklist-ip');
    frm.find('input[name=ip]').val(ip);
    frm.find('input[name=comment]').val(comment);
    frm.submit();
    return false;
}

var updateStatistics = function(data) {
    var tailStart = parseDate(data.tail_start);
    var tailEnd = parseDate(data.tail_end);
    var tailSpan = 0.001 * Math.max(1, tailEnd - tailStart); // in seconds
    var tailSize = data.tail_size;
    $('#tail-start').text(data.tail_start.substring(11)).attr('title', data.tail_start);
    $('#tail-end').text(data.tail_end.substring(11)).attr('title', data.tail_end);
    $('#tail-size').text(tailSize);
    $('#tail-span').text((tailSpan / 60).toFixed(0));
    $('#req-per-sec').text((tailSize * 1.0 / tailSpan).toFixed(2));
    if (tailSize > 0) {
        var reqPerSec = function(v) {
            return (v / tailSpan).toFixed(2);
        };
        var percentage = function(v) {
            return  (100.0 * v / tailSize).toFixed(2);
        };
        var ts = data.ts;
        var tbl = $('#most-common-ips table');
        tbl.find('tbody tr').remove();
        var cls = '';
        var tld = '';
      var total = 0;
        $.each(data.most_common_remote_addrs, function(i, v) {
            cls = [];
            extra = '';
            var whitelisted = false;
            var entry = null;
            if (INTERNAL_IPS[v[0]]) {
                cls.push('internal-ip');
                extra = ' title="Own IP: ' + INTERNAL_IPS[v[0]] + '"';
                whitelisted = true;
            } else if (entry = getBlacklistEntry(IP_BLACKLIST, v[0])) {
                cls.push('blacklisted');
                extra = ' title="Blacklisted: ' + $.esc(entry) + '"';
            } else if (entry = getBlacklistEntry(IP_WHITELIST, v[0])) {
                cls.push('whitelisted');
                extra = ' title="Whitelisted: ' + $.esc(entry) + '"';
                whitelisted = true;
            }
         total += v[2];
            tbl.append('<tr' + getClass(cls, i) + extra + '><td>' + getFlag(v[1]) + '</td><td>' + getLink(ts, 'remote_addr', v[0]) + '</td><td class="count">' + v[2] + '</td><td class="count">' + reqPerSec(v[2]) + '</td><td class="percentage">' + percentage(v[2]) + '</td><td>' + (whitelisted ? '' : '<button class="block" title="blacklist this IP" onclick="blacklistIp(\'' + v[0] + '\', \'' + v[1] + '\')">Block</button>') + '</td></tr>');
        });
      tbl.append('<tr class="totals"><td></td><td></td><td class="count">' + total + '</td><td class="count">' + reqPerSec(total) + '</td><td class="percentage">' + percentage(total) + '</td><td></td></tr>');
        var tbl = $('#most-common-status-codes table');
        tbl.find('tbody tr').remove();
        $.each(data.most_common_status_codes, function(i, v) {
            cls = [];
            tbl.append('<tr' + getClass(cls, i) + '><td>' + getLink(ts, 'status_code', v[0]) + '</td><td class="count">' + v[1] + '</td><td class="count">' + reqPerSec(v[1]) + '</td><td class="percentage">' + percentage(v[1]) + '</td></tr>');
        });
        var tbl = $('#most-common-durations table');
        tbl.find('tbody tr').remove();
        $.each(data.most_common_durations, function(i, v) {
            cls = [];
            tbl.append('<tr' + getClass(cls, i) + '><td style="text-align:right">' + getLink(ts, 'duration', v[0], (v[0] * 250) + ' - ' + ((v[0]+1) * 250)) + '</td><td class="count">' + v[1] + '</td><td class="count">' + reqPerSec(v[1]) + '</td><td class="percentage">' + percentage(v[1]) + '</td></tr>');
        });
        var tbl = $('#most-common-vhosts table');
        tbl.find('tbody tr').remove();
        $.each(data.most_common_vhosts, function(i, v) {
            cls = [];
            tld = v[0].split('.');
            tld = tld[tld.length-1];
            tbl.append('<tr' + getClass(cls, i) + '><td>' + getFlag(tld) + '</td><td>' + getLink(ts, 'vhost', v[0]) + '</td><td class="count">' + v[1] + '</td><td class="count">' + reqPerSec(v[1]) + '</td><td class="percentage">' + percentage(v[1]) + '</td></tr>');
        });
        var tbl = $('#most-common-urls table');
        tbl.find('tbody tr').remove();
      total = 0;
        $.each(data.most_common_paths, function(i, v) {
            cls = [];
            if (INTERNAL_URLS[v[0]]) {
                cls.push('internal-url');
            }
            tld = v[0].split('/');
            tld = tld[0].split('.');
            tld = tld[tld.length-1];
         total += v[1];
            tbl.append('<tr' + getClass(cls, i) + '><td>' + getFlag(tld) + '</td><td>' + getLink(ts, 'path', v[0].substring(v[0].indexOf('/')), v[0]) + ' <a href="http://' +  $.esc(v[0]) + '" class="lnk" target="_blank">&nbsp;</a></td><td class="count">' + v[1] + '</td><td class="count">' + reqPerSec(v[1]) + '</td><td class="percentage">' + percentage(v[1]) + '</td><td><button class="block" title="blacklist this URL (all VHosts!)">BLOCK</button></tr>');
        });
      tbl.append('<tr class="totals"><td></td><td></td><td class="count">' + total + '</td><td class="count">' + reqPerSec(total) + '</td><td class="percentage">' + percentage(total) + '</td><td></td></tr>');
        var tbl = $('#most-common-user-agents table');
        tbl.find('tbody tr').remove();
      total = 0;
        $.each(data.most_common_user_agents, function(i, v) {
            cls = [];
            if (INTERNAL_USER_AGENTS[v[0]]) {
                cls.push('internal-user-agent');
            }
         total += v[1];
            tbl.append('<tr' + getClass(cls, i) + '><td>' + getLink(ts, 'user_agent', v[0]) + '</td><td class="count">' + v[1] + '</td><td class="count">' + reqPerSec(v[1]) + '</td><td class="percentage">' + percentage(v[1]) + '</td></tr>');
        });
      tbl.append('<tr class="totals"><td></td><td class="count">' + total + '</td><td class="count">' + reqPerSec(total) + '</td><td class="percentage">' + percentage(total) + '</td><td></td></tr>');
    }
};

var update = function() {
    if ($('#hdr button.stopped').length) {
        window.setTimeout(update, 2000);
        return;
    }
    $.getJSON('/poll', function(data) {
        updateStatistics(data);
        window.setTimeout(update, 2000);
    });
};

update();

var updateLogEntries = function(ts, field, value, entries, ip_countries) {
    $('#log-entries-filter-field').text(field);
    $('#log-entries-filter-value').text(value);
    var tbl = $('#log-entries table');
    tbl.find('tbody tr').remove();
    var cls, extra, ip, entry;
    $.each(entries, function(i, r) {
        cls = [];
        extra = '';
        ip = r[4];
        entry = null;
        if (INTERNAL_IPS[ip]) {
            cls.push('internal-ip');
            extra = ' title="Own IP: ' + INTERNAL_IPS[ip] + '"';
        } else if (entry = getBlacklistEntry(IP_BLACKLIST, ip)) {
            cls.push('blacklisted');
            extra = ' title="Blacklisted: ' + $.esc(entry) + '"';
        } else if (entry = getBlacklistEntry(IP_WHITELIST, ip)) {
            cls.push('whitelisted');
            extra = ' title="Whitelisted: ' + $.esc(entry) + '"';
        }
        tbl.append('<tr' + getClass(cls, i) + extra + '><td>' + r[0].substring(10) + '</td><td>' + getLink(ts, 'fid', r[1], FILE_NAMES[r[1]]) + '</td><td>' + r[3] + '</td><td>'
            + getFlag(ip_countries[r[4]]) + '</td><td>' +getLink(ts, 'remote_addr', r[4]) + '</td><td align="right">' + (0.001 * r[5]).toFixed(1) + '</td><td>' + r[6] + '</td><td>' + getLink(ts, 'path', r[7]) + ' <a href="http://' + $.esc(r[3] + r[7]) + '" class="lnk" target="_blank">&nbsp;</a></td><td>' + r[8] + '</td><td>' + truncate(r[9], 30) + '</td><td>' + getLink(ts, 'user_agent', r[10], null, 30) + '</td><td align="right">' + r[11] + '</td><td>' + getLink(ts, 'session_id', r[12], null, 10) + '</td></tr>');
    });
    $('#log-entries').show();
   $.scrollTo($('#log-entries'));
};

var lastHash = null;
var checkLocationHash = function() {
    var h = document.location.hash;
    if (h.indexOf('#ts=') == 0 && lastHash != h) {
        stopUpdating();
        var i = h.indexOf(',');
        var ts = h.substring(4, i);
        var p = h.substring(i+1);
        i = p.indexOf('=');
        var f = p.substring(0, i);
        var v = p.substring(i+1);
        $.getJSON('/history_entry/' + ts, {field: f, value: v}, function(data) {
            updateStatistics(data.statistics);
            updateLogEntries(ts, f, v, data.log_entries, data.remote_addr_countries);
        });
        lastHash = h;
    }
};
window.setInterval(checkLocationHash, 100);

</script>

<form action="/blacklist_ip" id="frm-blacklist-ip" method="post" style="display:none">
    <input type="hidden" name="ip"/>
    <input type="hidden" name="comment"/>
    <button type="submit"></button>
</form>

</body>
</html>
